*{
    box-sizing: border-box;
    font-family: "Roboto";
}
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.hero,
.info,
.quote {
    display: flex;
    justify-content: center;
}
.hero-container,
.info-container,
.quote-container {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}
.info-container,
.quote-container {
    flex: 0 1 860px;
}

/* css for HERO */
.hero{
    background: #1F2937;
}
.hero-container {
    flex: 0 1 1100px;
}
.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 24px;
}
.logo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}
.links {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}
.content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    padding: 140px 0;
}
.texts {
    flex: 1;
    max-width: 460px;
}
.main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    padding: 0;
}
.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    padding: 16px 0;
}
button {
    font-size: 18px;
    font-weight: 900;
    background: #3882F6;
    color: white;
    padding: 8px 32px;
    border: none;
    border-radius: 8px;
}
.image {
    font-size: 18px;
    flex: 0 1 550px;
    min-height: 246px;
    color: white;
    background: rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}


/* css for INFORMATION */
.info-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    padding: 48px;
}
.info-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}
.item {
    flex: 0 0 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img {
    border: 5px solid #3882F6;
    border-radius: 20px;
    width: 170px;
    flex: 0 0 170px;
}
.img-info {
    font-size: 18px;
    color: rgb(100, 100, 100);
    text-align: center;
    padding: 8px 0;
}
.info-container {
    padding-bottom: 140px;
}

/* css for Quote */
.quote {
    background: #E5E7EB;
}
.quote-text {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
}
.name {
    font-size: 28px;
    font-weight: 1000;
    align-self: flex-end;
}